img{
    border-radius: 110px;
}
body{
    background-color: rgb(31, 31, 117);
}
div{
    background-color: rgba(203, 203, 203, 0.677);
    width: fit-content;
    padding: 20px;
    margin-top: 10%;
    border-radius: 50px;
}
button{
    border-radius: 100px;
    background-color: rgb(80, 80, 179);
    font-size: x-large;
}
#salir{
    background-color: red;
}
#crear_room{
    background-color: green;
}
#welcome{
    color: rgb(255, 255, 255);
}
#salas{
    border-radius: 50px;
}
#salir2{
    background-color: red;
}
#env{
    background-color: rgb(48, 255, 29);
}
#env_mensaje{
    background-color: rgb(246, 238, 238);
    bottom: 0px;
    position: fixed;
    margin-left: 42%;
}
#mensajes{
    margin-top: 0%;
    margin-bottom: 20%;
}